<!DOCTYPE html>
<html>
  <head>
    {{> metadata }}
    {{!-- {{> head/favicon }} --}}

    <title>{{projectName}}</title>

    {{#each stylesheets}}
      <link rel='stylesheet' href='/static/stylesheets/{{this}}.css' />
    {{/each}}
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
    
    {{#each scripts}}
      <script type='text/javascript' src='/static/scripts/{{this}}.js' defer></script>
    {{/each}}
  </body>
</html>
